# pick up cargo plugins
PATH_add ./.cargo/bin

# watch the output to add lorri once it’s built
PATH_add ./target/debug

if [ -e ./target/debug/lorri ]; then
    echo "direnv: using local lorri (./target/debug/lorri)"
    eval "$(./target/debug/lorri direnv)"
elif type lorri &>/dev/null; then
    echo "direnv: using lorri from PATH ($(type -p lorri))"
    eval "$(lorri direnv)"
else
    # fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    use nix
fi
